<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teste de Movimento do Robô</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org/dist/htmx.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="intro">
        <h1>Teste de Movimento do Robô</h1>
        <p> Aperte o botão que representa o movimento que deseja fazer</p>
    </div>
    <button hx-post="/move_robot" hx-target="#log" 
    name="command" value="conectar">conectar robo</button>
    <button hx-post="/move_robot" hx-target="#log" 
    name="command" value="+50 em x">Movimento positivo em x</button>
    <button hx-post="/move_robot" hx-target="#log" 
    name="command" value="-50 em x">Movimento negativo em x</button>
    <button hx-post="/move_robot" hx-target="#log" 
    name="command" value="+50 em y">Movimento positivo em y</button>
    <button hx-post="/move_robot" hx-target="#log" 
    name="command" value="-50 em y">Movimento negativo em y</button>
    <button hx-post="/move_robot" hx-target="#log" 
    name="command" value="+50 em z">Movimento positivo em z</button>
    <button hx-post="/move_robot" hx-target="#log" 
    name="command" value="-50 em z">Movimento negativo em z</button>
    <button hx-post="/move_robot" hx-target="#log"
    name="command" value="ligar atuador">Ligar atuador</button>
    <button hx-post="/move_robot" hx-target="#log" 
    name="command" value="desligar atuador">Desligar atuador</button>
    <h1> Logs de comandos feitos</h1>
    <div id="log" hx-get="/get_commands">

    </div>
    <!-- <div id="log" hx-get="/get_commands"> 
        Log de comandos será atualizado dinamicamente aqui
    </div> -->
</body>
</html>
